{% extends 'base.html.twig' %}

{% block title %}Archer index{% endblock %}

{% block body %}
    <h1>Archer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for archer in archers %}
            <tr>
                <td>{{ archer.id }}</td>
                <td>{{ archer.lastname }}</td>
                <td>{{ archer.firstname }}</td>
                <td>{{ archer.status }}</td>
                <td>
                    <a href="{{ path('archer_show', {'id': archer.id}) }}">show</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('archer_edit', {'id': archer.id}) }}">edit</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('archer_new') }}">Create new</a>
{% endif %}
{% endblock %}