{% extends 'base.html.twig' %}

{% block title %}Archer{% endblock %}

{% block body %}
    <div class="row"> 
        <section class="col-md-12">
            <h1>{{ archer.fullname }}</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Lastname</th>
                        <td>{{ archer.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Firstname</th>
                        <td>{{ archer.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        {% if archer.status == 1 %}
                        <td>Actif</td>
                        {% else %}
                        <td>Inactif</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    
    <div class="row">        
        <section class="col-md-6">
        <h3>Historique des clubs</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Club</th>
                        <th>Numéro d'affiliation</th>
                        <th>Date inscription</th>
                        <th>Date de fin</th>
                    </tr>
                </thead>
                <tbody>
                {% for affiliation in archer.affiliations | reverse %}
                    <tr>
                        <td>{{ affiliation.club.name }}</td>
                        <td>{{ affiliation.affiliatenumber }}</td>
                        <td>{{ affiliation.affiliatesince | date("d/m/y") }}</td>
                        {% if affiliation.affiliateend is null %}
                        <td>Actif</td>
                        {% else %}
                        <td>{{ affiliation.affiliateend | date("d/m/y") }}</td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="col-md-6">
        <h3>Historique des compétitions</h3>        
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Lastname</th>
                        <th>Firstname</th>
                        <th>Status</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>
        </section>
    </div>

    <a href="{{ path('archer_index') }}">back to list</a>

    <a href="{{ path('archer_edit', {'id': archer.id}) }}">edit</a>

    {{ include('archer/_delete_form.html.twig') }}
{% endblock %}