{% extends 'base.html.twig' %}

{% block title %}Peloton{% endblock %}

{% block body %}
    <h1>Peloton</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ peloton.id }}</td>
            </tr>
            <tr>
                <th>MaxParticipant</th>
                <td>{{ peloton.maxParticipant }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ peloton.type }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ peloton.startTime ? peloton.startTime|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
       <thead>
            <tr>
                <th>Club</th>
                <th>Peloton</th>
                <th>Full Name</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in peloton.participants %}
            <tr>
            {% set foo = participant.archer.affiliations|reverse|first %}
                <td>{{ foo.club.acronym }}</td>
                <td>{{ participant.peloton }}</td>
                <td>{{ participant.archer.fullname }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tournament_show', {'id': peloton.tournament.id}) }}">back to list</a>

    <a href="{{ path('peloton_edit', {'tournament' : peloton.tournament.id, 'id': peloton.id}) }}">edit</a>

    {{ include('peloton/_delete_form.html.twig') }}
{% endblock %}
